body, p, input, h2, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: middle;
	font-weight: normal;
}
 h2 {
font-size:100%;
font-weight:normal;
}
img {
	border: none;
	margin: 0;
	padding: 0;
}
body {
	color: #000;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	font: normal 16px/200% "微软雅黑", helvetica, arial;
	text-align: left;
}
 header, section {
display: block;
margin: 0;
padding: 0
}
a {
	text-decoration: none;
}
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*Public property*/
header {
	height: 48px;
	line-height: 48px;
	border-bottom: 1px solid #f2f2f2;
}
.header ul li {
	float: left;
	width: 33.333%;
}
.container {
	width: 96%;
	margin-left: 2%;
}
.container ul li:first-child {
	text-align: left;
}
.container ul li:last-child {
	text-align: right;
}
.container ul .middle {
	text-align: center;
}
.container ul li h2 {
	font-size: 24px;
	color: #333;
}
/*header ed*/
section .img_1 img {
	width: 100%;
	height: auto;
}
.banner h2 {
	font-size: 18px;
	color: #333;
}
time {
	font-size: 12px;
	color: #999;
}
section .img_1 {
	width: 100%;
	height: auto;
}
/*section ed*/
article p {
	text-indent: 2em;
	color: #555555;
	font-size: 14px;
}
/*article ed*/
