header {
    color: #1b1b1b;
    height: 3.4rem;
    text-align: center;
    border-bottom: 1px solid #b2b2b2;
}

header a {
    color: #1b1b1b;
    font-size: 2.2rem;
    min-width: 4rem;
    height: 100%;
}

header a.left {
    float: left;
}

header a.right {
    float: right;
    line-height: 3rem;
}

header h2 {
    font-size: 1.3rem;
}

.container {
    margin-bottom: 0;
}

.dynamic {
    padding: 0 1.5rem;
}

.dynamic .title {
    width: 100%;
    padding: 1.2rem 0;
}

.dynamic .title:after {
    content: '';
    display: block;
    clear: both;
}

.dynamic .title td:nth-child(1) {
    width: 5rem;
}

.dynamic .title img {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    margin-right: 1rem;
}

.dynamic .title h2 {
    font-size: 1.3rem;
    color: #1b1b1b;
<<<<<<< .mine
    margin-bottom: .7rem;
}

.dynamic .title h3 {
    font-size: 1.2rem;
    color: #d6d6d6;
}

.dynamic > p.black {
    font-size: 1.3rem;
    color: #1b1b1b;
    margin-bottom: 1rem;
}

.dynamic .imgbox img {
=======
    margin-bottom: .7rem;
}

.dynamic .title h3 {
    font-size: 1.2rem;
    color: #d6d6d6;
}

.dynamic > p.black {
    font-size: 1.3rem;
    color: #1b1b1b;
    margin-bottom: .3rem;
    line-height: 1.6em;
}

.dynamic .imgbox img {
>>>>>>> .r627
    width: 32%;
    float: left;
    margin-left: 2%;
}

.dynamic .imgbox img.first {
    margin-left: 0;
}

.dynamic .imgbox:after {
    content: '';
    display: block;
    clear: both;
}

.dynamic > p.position {
    color: #d6d6d6;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.dynamic > p.position i {
    font-size: 1.3rem;
}

.dynamic .tools {
    margin-bottom: 1.2rem;
}

.dynamic .tools a {
    width: 4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 1.5rem;
    color: #b9b9b9;
}

.dynamic .tools a.left {
    float: left;
}

.dynamic .tools a.right {
    float: right;
    margin-left: 1.2rem;
}

.dynamic .tools a.right.like {
    border-color: #a1c9f0;
    color: #a1c9f0;
}

.dynamic .tools a.right.msg {
    line-height: 2.2rem;
}

.dynamic .tools:after {
    content: '';
    display: block;
    clear: both;
}

.dynamic > .date {
    color: #d6d6d6;
    font-size: 1.2rem;
    padding-left: 1.2rem;
}

.visitor {
    padding-left: 1.5rem;
}

.visitor div {
    padding: 1.2rem 0;
    border-bottom: 1px solid #f0f0f0;
}

.visitor div:after {
    content: '';
    display: block;
    clear: both;
}

.visitor div a {
    width: 10.5%;
    float: left;
    margin: .3rem 0 .3rem 2%;
}

.visitor div a img {
    width: 100%;
}

.visitor div a.first {
    margin-left: 0;
}

.commentbox {
    margin-top: 1rem;
}

.commentbox > h2 {
    line-height: 4rem;
    color: #777777;
    font-size: 1.3rem;
    padding-left: 1.5rem;
}

.commentbox .commentlist {
    border-bottom: 1px solid #f0f0f0;
    padding-left: 1.5rem;
}

.commentbox .commentlist li {
    padding-bottom: 1.2rem;
}

.commentbox .commentlist li > a {
    width: 3rem;
    float: left;
    margin-right: 2%;
    position: relative;
    top: .7rem;
}

.commentbox .commentlist li > a img {
    width: 100%;
}

.commentbox .commentlist li div {
    border-top: 1px solid #f0f0f0;
    padding-top: 1.2rem;
    padding-left: 4rem;
}

.commentbox .commentlist li div h3 {
    font-size: 1.3rem;
    color: #1b1b1b;
    margin-bottom: .6rem;
    font-weight: bold;
}

.commentbox .commentlist li div h3 span {
    color: #cacaca;
    font-size: 1.2rem;
    padding: 0 1.2rem 0 1.5rem;
}

.commentbox .commentlist li div h3 .remove {
    color: #4a90e4;
    font-size: 1.2rem;
}

.commentbox .commentlist li div p {
    font-size: 1.2rem;
    padding-right: .5rem;
    line-height: 1.6em;
}

.commentbox .commentlist li div p strong {
    color: #e9e9e9;
    margin-right: .5rem;
}

.commentbox .commentlist li:first-child > div {
    border-top: none;
}

.commentbox .commentlist li:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    height: 6rem;
    line-height: 6rem;
    width: 100%;
    overflow: hidden;
}

footer nav:after {
    content: '';
    display: block;
    clear: both;
}

footer nav a,
footer nav span {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

footer nav a {
    color: #1b1b1b;
    background: url(../img/line.png) no-repeat right 50%;
    background-size: 1px 70%;
}

footer nav span {
    color: #cae3fe;
}