body {
    background: #f3f3f3;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.downloadbox {
    z-index: 2;
}

.container{
    margin:3.4rem 0;
    overflow-x:hidden; 
}

header {
    background: url(../img/header3.jpg);
    background-size: 100% 100%;
    height:15rem;
    color: #fff;
    padding:3rem 1.2rem 0 1.2rem;
    text-align: center;
}

header img {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-bottom: .8rem;
}

header h2 {
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

.table {
    padding: .5rem 0;
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
}

.table li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
    color: #353535;
    background: url(../img/line.png) no-repeat right 50%;
    background-size: 1px 80%;
}

.table li:last-child{
    background: none;
}

.table li b {
    display: block;
    margin-top: .4rem;
    font-weight: normal;
    color: #bcbcbc;
}

.stagebox,.fieldbox,.moneybox{
    background: #fff;
    padding-left: 1.5rem;
}
.moneybox{
    padding-bottom: 1.2rem;
}
.stagebox > h2,.fieldbox > h2,.moneybox > h2{
    font-size: 1.2rem;
    color: #1a1a1a;
    line-height: 3rem;
}

.fieldbox ul,.stagebox ul{
    margin-left: .6rem;
    border-bottom:1px solid #f3f3f3;
}

.moneybox span{
    margin-left: .8rem;
}

.fieldbox ul li ,
.stagebox ul li{
    float: left;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 1.1rem;
    border: 1px solid #1a1a1a;
    text-align: center;
    margin: 0 .8rem .8rem 0;
    font-size: 1.1rem;
    padding: 0 .8rem;
}

.aboutbox {
    background: #fff;
    margin-bottom: .8rem;
    border-top:1px solid #f3f3f3;
    padding:0 .9rem;
    padding-bottom: .9rem;
}

.aboutbox h2 {
    font-size: 1.2rem;
    line-height: 3.4rem;
    height: 3.4rem;
    color: #1a1a1a;
}

.aboutbox p {
    font-size: 1.2rem;
    line-height: 1.6em;
    color: #777777;
}

.casebox {
    background: #fff;
    margin-bottom: .8rem;
    padding:0 .9rem;
}

.casebox h2 {
    font-size: 1.2rem;
    color: #1b1b1b;
    line-height: 2rem;
    margin-bottom: .3rem;
}

.casebox .listbox li {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom:.6rem;
}

.casebox .listbox li a {
    width: 75%;
    color: #1a1a1a;
    font-size: 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.casebox .listbox li a img {
    width: 100%;
    margin-bottom: .6rem;
}

.member {
    background: #fff;
}

.member > h2 {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1b1b1b;
    padding-left: .9rem;
    margin-bottom: .1rem;
}

.member table {
    width: 100%;
    margin-left:.9rem;
}
.member table,td{
    border-collapse: collapse;
}
.member table td{
    border-bottom:1px solid #eaeaea;
}
.member table td a,
.member table td img {
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.member table td h3 {
    color: #1b1b1b;
    font-size: 1.1rem;
    margin-bottom: .3rem;
}

.member table td p {
    color: #c9c9c9;
    font-size: 1.1rem;
    line-height: 1.6rem;
    width: 18rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.member table td:nth-child(1) {
    width: 5rem;
    padding:.9rem;
}

footer {
    height: 3.4rem;
    line-height: 3.4rem;
    background: #4a90e2;
}

footer a {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}