.clear:after{
    content: '';
    display: block;
    clear: both;
}

.downloadbox {
    z-index: 2;
}

.container{
    margin:3.4rem 0;
}

header {
    background: url(../img/header3.jpg);
    background-size: 100% 100%;
    height:15rem;
    color: #fff;
    padding:2rem 1.2rem 0 1.2rem;
    text-align: center;
}

header img {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-bottom: .8rem;
    background: none;
}

header h2 {
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

header h3 {
    line-height: 1.6rem;
}

header h3 span {
    margin: 0 .4rem;
    font-size: .9rem;
}

.table {
    padding: .5rem 0;
    border-bottom:1px solid #c5c5c5;
}

.table li {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 1.1rem;
    color: #353535;
    background: url(../img/line.png) no-repeat right 50%;
    background-size: 1px 80%;
}

.table li:last-child{
    background: none;
}

.table li b {
    display: block;
    margin-top: .4rem;
    font-weight: normal;
    color: #bcbcbc;
}

.dynamicbox>h2,
.projectbox>h2,
.infobox>h2{
    line-height: 3rem;
    background: #f3f3f3;
    font-size: 1.1rem;
    padding-left:1.2rem;
}

.dynamicbox ul li,
.projectbox ul li{
    background: url(../img/icon/right.png) no-repeat right 50%;
    background-size: .7rem auto;
    padding: .8rem;
    margin-right: .8rem;
}

.dynamicbox ul li .image,
.projectbox ul li .image{
    width: 7rem;
    height: 5rem;
    box-sizing: content-box;
    margin-right:1rem;
    float: left;
    overflow: hidden;
}
.dynamicbox ul li img,
.projectbox ul li img{
    width: 100%;
}

.dynamicbox ul li h3,
.projectbox ul li h3{
    margin: .8rem 0;
    font-size: 1.1rem;
}

.dynamicbox ul li p{
    color: #bcbcbc;
    font-size: .9rem;
    width: 14rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.infobox>div{
    padding:.8rem 1.2rem;
}

.infobox>div h3{
    margin-bottom:.8rem;
    font-size: 1.1rem;
}

.infobox>div p{
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: #666;
}

.aboutbox,.fieldbox,.goodatbox {
    padding-left: 1.2rem;
    border-top:1px solid #f3f3f3;
}

.aboutbox{
    border-top:none;
    padding-bottom: .6rem;
}

.aboutbox > h2,.fieldbox > h2,.goodatbox > h2{
    font-size: 1.1rem;
    color: #1a1a1a;
    line-height: 3rem;
}

.aboutbox p {
    font-size: 1.2rem;
    padding: 2rem 2rem 0 1.5rem;
    line-height: 1.6em;
    color: #1a1a1a;
}
.aboutbox ul li{
    line-height: 3.6rem;
    height: 3.4rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: url(../img/icon/li_bg.png) no-repeat .3rem 50%;
    background-size: .6rem 100%;
}
.fieldbox ul li ,
.goodatbox ul li{
    float: left;
    height:2.2rem;
    line-height: 2.2rem;
    border-radius: 1.1rem;
    border:1px solid #1a1a1a;
    text-align: center;
    margin:0 .8rem .8rem 0;
    font-size: 1.1rem;
    padding: 0 .8rem;
}

footer {
    height: 3.4rem;
    line-height: 3.4rem;
    overflow: hidden;
    background: #a1c9f0;
}

footer a {
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
}

footer a:nth-child(1) {
    background: url(../img/line_white.png) no-repeat right 50%;
    background-size: 1px 70%;
}
footer a i{
    position: relative;
    top:2px;
}
.casebox h2{
    line-height: 3rem;
    background: #f3f3f3;
    font-size: 1.1rem;
    padding-left: 1.2rem;
}
.casebox li{
    line-height: 3.4rem;
    height: 3.4rem;
    padding: .6rem 1.2rem;
    box-sizing: content-box;
}
.casebox div{
    float: left;
}
.casebox div img{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 1.7rem;
    float: left;
    margin-right: .6rem;
}
.casebox span{
    float: right;
}
#tzStyle.table li{
    width: 50%;
}
.nodata{
    color: #b1b1b1;
    background:#f3f3f3 url(../img/icon/nodata.png) no-repeat 50% 2rem;
    background-size: 11rem 11rem;
    padding-top: 14rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.1rem;
}