@{
    ViewBag.Title = "部门信息";
    Layout = "~/Areas/Admin/Views/Shared/_ligerUI.cshtml";
}

@section css{
    <script type="text/javascript">
        $(function () {
            $("form").ligerForm();
        });
        $(f_initGrid);
        var manager, g;
        function f_initGrid() {
            g = manager = $("#maingrid").ligerGrid({
                columns: [
                { display: '编号', name: 'Guid', width: 80, type: 'int', frozen: true },
                { display: '部门名称', name: 't_Branch_Name' },
                { display: '上级部门', name: 't_ParentId', minWidth: 60 }
                ],
                toolbar: {
                    items: [
                   { text: '增加', click: add, icon: 'add' },
                   { line: true },
                   { text: '修改', click: update, icon: 'modify' },
                   { line: true },
                   { text: '删除', click: del, img: '/Content/admin/lib/ligerUI/skins/icons/delete.gif' }
                    ]
                },
                onSelectRow: function (rowdata, rowindex) {
                    $("#txtrowindex").val(rowindex);
                },
                //onAfterShowData: function (currentData) {
                //    $("#sum").html(currentData.Sum);
                //},
                enabledEdit: true,
                clickToEdit: false,
                isScroll: false,
                url: "@Url.Action("List","Branch")",
                dataAction: "server",
                pageSize: 30,
                pageSizeOptions: [30, 40, 50],
                width: '100%',
                data: "gywm",
            });
        }

        //添加按钮事件
        function add(item) {
            location.href = "@Url.Action("Edit")";
        }
        //修改按钮事件
        function update(item) {
            var row = manager.getSelectedRow();
            if (!row) { $.ligerDialog.warn('请点击要操作的数据'); return; }

            location.href = "@Url.Action("Edit")" + "/" + row.Guid;
        }
        //删除按钮事件
        function del(item) {
            var row = manager.getSelectedRow();
            if (!row) { $.ligerDialog.warn('请点击要操作的数据'); return; }

            $.ligerDialog.confirm('你确定要删除此记录吗?', function (yes) {
                if (yes) {
                    $.post("@Url.Action("Delete")" + "/" + row.Guid, function (msg) {
                        if (msg.type == "success") {
                            manager.loadData();
                            $.ligerDialog.success(msg.Data);

                        } else {
                            $.ligerDialog.error(msg.Data);
                        }

                    });
                }
            });
        }



    </script>
    <style type="text/css">
        .l-case-title {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        body, html {
            width: 100%;
            height: 100%;
        }
    </style>
}
<div id="maingrid" style="margin-top: 20px"></div>
