@{
    Layout = null;
}

@model IEnumerable<qch.Repositories.inf_district>

@if (Model != null)
{
    foreach (var item in Model.ToList())
    {
    <li id="@item.DistrictID">@item.DistrictName</li>
    }
}
