@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>青创汇-用户注册</title>
</head>

<body>
    <input style="display:none" value="@ViewBag.WxUrl" id="txtWxUrl" />
    <input style="display:none" value="@ViewBag.QQURL" id="txtQQUrl" />
    <script src="~/H5/js/jquery.min.js"></script>
    <script src="~/H5/js/util.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            if (isWeiXin()) {
                window.location.href = $("#txtWxUrl").val();
            } else {
                var ug = util.getUrlParam('UserGuid');
                location.href = '/wxuser/qqreg?UserGuid=' + ug;
            }
        }
        function isWeiXin() {
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>
</html>
