@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>邀请明细</title>
    <link rel="stylesheet" href="/h5/css/public.css">
    <style>
        body {
            background: rgb(242, 244, 250);
        }
        
        .clearfix:after {
            content: '';
            display: block;
            clear: both;
        }
        
        .listbox li {
            border-bottom: 1px solid rgb(247, 247, 247);
            padding: 0 1.4rem;
            line-height: 4rem;
            background: #fff;
        }
        
        .listbox li h2 {
            float: left;
            padding-left: 3rem;
            font-size: 1.2rem;
        }
        
        .listbox li span {
            float: right;
            font-size: 1.2rem;
        }
        
        .listbox li span.blue {
            color: rgb(162, 201, 240);
        }
        
        .listbox li:nth-child(1) h2 {
            background: url(/h5/img/invitation/mingxi_ninchen_img@2x.png) no-repeat 0 50%;
            background-size: auto 3rem;
        }
        
        .listbox li:nth-child(2) h2 {
            background: url(/h5/img/invitation/mingxi_zhanghao_img@2x.png) no-repeat 0 50%;
            background-size: auto 3rem;
        }
        
        .listbox li:nth-child(3) h2 {
            background: url(/h5/img/invitation/mingxi_yaoqingjiangli_img@2x.png) no-repeat 0 50%;
            background-size: auto 3rem;
        }
        
        .listbox li:nth-child(4) h2 {
            background: url(/h5/img/invitation/mingxi_yaoqingrenshu_img@2x.png) no-repeat 0 50%;
            background-size: auto 3rem;
        }
        
        .listbox li:nth-child(5) h2 {
            background: url(/h5/img/invitation/mingxi_zhuceshijian_img@2x.png) no-repeat 0 50%;
            background-size: auto 3rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <ul class="listbox">
            <li class="clearfix">
                <h2>昵称</h2>
                <span>流氓兔</span>
            </li>
            <li class="clearfix">
                <h2>账号</h2>
                <span>13434343434</span>
            </li>
            <li class="clearfix">
                <h2>邀请奖励</h2>
                <span class="blue">100积分</span>
            </li>
            <li class="clearfix">
                <h2>邀请人数</h2>
                <span class="blue">100</span>
            </li>
            <li class="clearfix">
                <h2>注册时间</h2>
                <span>2015/08/07</span>
            </li>
        </ul>
    </div>
</body>

</html>
