@{
    Layout = null;
}
@model PetaPoco.Page<qch.Models.UserModel>
@if (Model != null && Model.Items != null)
{
    foreach (var item in Model.Items)
    {
    <tr data-url="/Invitation/Info?UserGuid=@item.Guid">
        <td>@item.t_User_LoginId</td>
        <td>@item.t_User_Date.ToShortDateString()</td>
    </tr>
    }
}