@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Qiuyu</title>
</head>
<body>
    <div>
        <span>@ViewBag.XY2</span>
    </div>
</body>
</html>
