@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckIDCard</title>
</head>
<body>
    <div>
        <span>身份证号：</span><input type="text" id="txtIdentity" />
        <br />
        <span>姓名：</span><input type="text" id="txtName" />
        <input type="button" onclick="check()" value="检测" />
        <br />
        <input type="button" onclick="cenn()" value="cnee" />
    </div>
    <script src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript">
        function check() {
            var identity = $("#txtIdentity").val();
            var name = $("#txtName").val();
            $.post('/qch/CheckIDCard', { identity: identity, name: name }, function (msg) {
                if (msg) {
                    alert(msg.Data);
                }
            })
        }
        function cenn() {
            //用户设置默认收货地址
            $.ajax({
                type: 'post',
                cache: false,
                dataType: 'json',
                url: 'http://120.25.106.244:9001/api/cnee/SetDefault',
                data: {
                    UserGuid: '0c799012-8fa2-44d1-bd96-b57690d36873',  //用户guid
                    CennGuid: '12a569f8-260f-45f4-849b-82458ee4e79c'   //收货地址guid
                },
                success: function (res) {
                    alert(res);
                }
            })
            //$.post('http://www.cn-qch.com:9001/api/cnee/SetDefault', { UserGuid: 'asdf', CennGuid: '123456' }, function (msg) {
            //    if (msg) {
            //        alert(msg.Data);
            //    }
            //})
        }
    </script>
</body>
</html>
