@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QR_Code</title>
</head>
<body>
    <div>
        <img src="@ViewBag.QRCode" />
    </div>
</body>
</html>
