<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="qch" connectionString="Data Source=120.25.106.244;Initial Catalog=DB_QCH;User ID=sa;Password=qch123456789;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
