@{
    Layout = null;
}
<div class="indexTc" id="indexTc">
    <div class="guanbiQu">
        <a href="javascript:void(0);">
            <img src="/content/image/share_qr_close3.png" alt="" /></a>
    </div>
    <ul class="top qieHover">
        <li class="firstLi thisOver" id="sjB">下载App</li>
        <li id="wxB">关注微信公众号</li>
    </ul>
    <ul class="tcNr">
        <li id="sjBan">
            <p class="tc_tt">扫一扫下方二维码下载App ，获取完整体验</p>
            <div class="tc_Ma2">
                <img src="/content/image/index/erweima.png" alt="" />
                <a href="javascript:void(0);" class="xia_i">
                    <img src="/content/image/mb_icon_apple.png" alt="" /><span>iPhone下载</span></a>
                <a href="javascript:void(0);" class="xia_a">
                    <img src="/content/image/mb_icon_android.png" alt="" /><span>Android下载</span></a>
            </div>
        </li>
        <li id="wxBan" style="display: none;">
            <p class="tc_tt">打开微信，扫一扫下方二维码</p>
            <p class="tc_img">
                <img src="/content/image/qrcode_for_gh_36e651bc226a_430.jpg" alt="">
            </p>
            <p class="tc_gz">或者搜索并关注微信公众帐号：青创汇服务中心</p>
        </li>
    </ul>
</div>
