@{
    Layout = null;
}
<div class="footer">
        <div class="topbox clear">
            <h2></h2>
            <ul class="clear">
                <li class="item1">
                    <div>
                        <img src="/content/image/index/erweima.png"></div>
                </li>
                <li class="item2">
                    <div><a>关于QCH</a> | <a>加入我们</a> | <a class="appDown">APP下载</a></div>
                    <p>客服电话: 400-1690-999</p>
                    <p>工作时间: 周一到周五 9:00-18:00</p>
                </li>
                <li class="item3">
                    <h2>合作伙伴:</h2>
                    <div>
                        <a>深圳中盟控股</a>
                        <a>普及资本</a>
                        <a>世界青年价值协会</a>
                        <a>中华海外人才网</a>
                        <a>天明集团CEO会</a>
                        <a>新能源商会</a>
                        <a>北京国投大成投资基金有限公司</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bottombox">
            <p>2016 青创汇 为创业者而生 <span>@*增值电信业务经营许可证：豫B2-20140021*@ <a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备15086625号-1</a></span></p>
        </div>
    </div>
