@{
    Layout = null;
}
<div class="header">
    <div class="headbox">
        <div class="logo">
            <a href="/"></a>
        </div>
        <ul class="mainnav">
            <li><a href="/">首页</a></li>
            <li><a href="/content/news.html?fid=39">新闻资讯</a></li>
            <li><a href="/activity/publish">+ 活动</a></li>
            <li><a class="appDown">下载APP</a></li>
        </ul>
    </div>
</div>
